ansible==2.10.1
ansible-base==2.10.2
astroid==2.4.2
bcrypt==3.2.0
cffi==1.14.3
cryptography==3.2.1
isort==5.6.4
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.4
paramiko==2.7.2
pycparser==2.20
pylint==2.6.0
PyNaCl==1.4.0
pyparsing==2.4.7
PyYAML==5.3.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
